/* Start css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
	width: 100%;
	height: 100%;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* End css reset */
/* =================== start of navbar =================== */


/* =================== end of navbar =================== */

body {
 font-family: 'Spartan', sans-serif;
 }

/* =================== start of home =================== */

#home {
		background-image: url("../img/img_1.jpeg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		position: relative;
		display: block;
}

.header {
	padding-top: 17rem;
	padding-left: 6rem;
}

.title1 {
	font-size: 4rem;
	font-weight: 500;
	color: whitesmoke;
	padding-bottom: 8px;
	letter-spacing: 2px;
}

.title2 {
	font-size: 4rem;
	font-weight: 500;
	color: whitesmoke;
	padding-bottom: 20px;
	border-bottom: 4px solid rgb(159, 0, 0);
	position: relative;
	letter-spacing: 2px;
}

.title3 {
	font-size: 3rem;
	font-weight: 400;
	color: whitesmoke;
	padding-top: 3%;
	letter-spacing: 2px;
}
	/* =================== start of animated text slider in home =================== */
.content {
	width: 100vw;
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -40%;
}
.slider-wrapper {
	font-size: 40px;
	color:#aaa;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider{
	height: 90px;
	padding-left:15px;
	overflow: hidden;
}
.slider div {
	color:#fff;
	height: 50px;
	margin-bottom: 50px;
	padding: 7px 15px;
	text-align: left;
	box-sizing: border-box;
}
.slider-text1 {
	animation: slide 5s linear infinite;
}

@keyframes slide {
	0% {margin-top:-300px;}
	5% {margin-top:-200px;}
	33% {margin-top:-200px;}
	38% {margin-top:-100px;}
	66% {margin-top:-100px;}
	71% {margin-top:0px;}
	100% {margin-top:0px;}
}

/* =================== end of animated text slider in home =================== */

/* =================== end of home =================== */

/* =================== start of recipes =================== */

.recipe_name {
	font-size: 1.4rem;
	font-weight: 400;
	color: #003684;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	letter-spacing: 2px;
	margin-top: 35px;
}

.main_images {
height: 65%;
width: 65%;
border-radius: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}

/* =================== end of recipes =================== */

/* =================== start of recipe listing =================== */

.recipe {
	font-size: 1rem;
	font-weight: 400;
	color: rgb(55, 9, 101);
	letter-spacing: 2px;
	line-height: 170%;
	margin-top: 5%;
	padding: 2.5%;
}

/* =================== end of recipe listing =================== */

/* =================== TEXT ANIMATION CSS =================== */


/* =================== TEXT ANIMATION CSS =================== */