{{ define "home"}}

<section class="header" id="home">

  <!-- <div class="hero flex-center">
      <div class="hero-message">
        <div class="adj">
            <h1 class="hero-title">{{ .Intro.Title1 }}</h1>
            <h2 class="hero-sub-title">{{ .Intro.Title2}}</h2>
        </div>
      </div>
  </div> -->




  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6">
               <h1 class="title1">{{ .Intro.Title1 }}</h1>
               <h1 class="title2">{{ .Intro.Title2 }}</h1>
          </div>
        </div>
        <p class="title3">{{ .Intro.Title3 }}</p>
  </div>

</section>


{{ end }}