<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Document</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
 <!-- My custom css link -->
 <link rel="stylesheet" href="../assets/css/main.css?v={random number/string}">
</head>

<body>
 
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a class="nav-custom navbar-brand" href="#home">Daddy's</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item">
          <a class="nav-link" href="#home">home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#recipes">recipes</span></a>
        </li>
       </ul>
    </div>
  </nav>

<section class="header" id="home">
  <div class="row">
      <div class="col-sm-12">
        <div class="font-weight-bold">
           <h1>THIS IS THE HOME PAGE</h1>
           this is home
           <div>MORE TEXT</div> 
           <div>MORE TEXT</div> 
           <div>MORE TEXT</div> 
           <div>MORE TEXT</div> 
           <div>MORE TEXT</div> 
           <div>MORE TEXT</div> 
           <div>MORE TEXT</div> 
           <div>MORE TEXT</div> 
           <div>MORE TEXT</div> 
        </div>
      </div>
    </div>
</section>

<section class="recipes" id="recipes">

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
            <div class="font-weight-bold">
               <h1>THESE ARE THE RECIPES</h1>
               this is recipes
               <div>MORE TEXT</div> 
               <div>MORE TEXT</div> 
               <div>MORE TEXT</div> 
               <div>MORE TEXT</div> 
               <div>MORE TEXT</div> 
               <div>MORE TEXT</div> 
               <div>MORE TEXT</div> 
               <div>MORE TEXT</div> 
               <div>MORE TEXT</div> 
            </div>
          </div>
        </div>
  </div> 
</section>


<!-- JS, Popper.js, and jQuery -->
<script src="../assets/js/script.js">
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>
</html>