{{template "head" .}}

<body>

<!-- start of nav bar -->
{{template "navbar" .}}
<!-- end of nav bar -->

<!-- start of ratatouille -->

<section id="ratatouille">

    <div style="overflow-x:auto;">
        <table>
          <tr>
            <td><p class="recipe_header align">The recipe: </p></td>
            <td><p class="recipe_detail">{{ (index .NewRecipes 0).Recipe }} </p></td>
            </tr>
          <tr>
            <td><p class="recipe_header align">Preparation time: </p></td>
            <td><p class="recipe_detail">{{ (index .NewRecipes 0).PreparationTime }} </p></td>
          </tr>
          <tr>
              <td><p class="recipe_header align">Cooking time: </p></td>
              <td><p class="recipe_detail">{{ (index .NewRecipes 0).CookingTime }} </p></td>
            </tr>
            <tr>
                <td><p class="recipe_header align">Difficulty: </p></td>
                <td><p class="recipe_detail">{{ (index .NewRecipes 0).Difficulty }} </p></td>
              </tr>
              <tr>
                  <td><p class="recipe_header align">Ingredients: </p></td>
                  <td><p class="recipe_detail">{{ (index .NewRecipes 0).Ingredients }} </p></td>
                </tr>
                <tr>
                    <td><p class="recipe_header align">How to make it: </p></td>
                    <td><p class="recipe_detail">{{ (index .NewRecipes 0).Method }} </p></td>
                  </tr>
        </table>
      </div>
</section>

<!-- end of menu ratatouille -->



</body>
</html>