{{template "head" .}}

<body>

<!-- start of nav bar -->
{{template "navbar" .}}
<!-- end of nav bar -->

<!-- start of ratatouille -->

<section id="ratatouille">
      <div class="row">
        <p class="recipe">The recipe: {{ (index .NewRecipes 0).Recipe }} </p>
        <p class="recipe">Preparation time: {{ (index .NewRecipes 0).PreparationTime }} </p>
        <p class="recipe">Cooking time: {{ (index .NewRecipes 0).CookingTime }} </p>
        <p class="recipe">Difficulty: {{ (index .NewRecipes 0).Difficulty }}</p>
        <p class="recipe">Ingredients: {{ (index .NewRecipes 0).Ingredients }}</p>
        <p class="recipe">How to make it: {{ (index .NewRecipes 0).Method }}</p>
      </div>
</section>

<!-- end of menu ratatouille -->



</body>
</html>